body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1221px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:22px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u783_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:241px;
  width:81px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u784_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:285px;
  width:81px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u785_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:332px;
  width:81px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u786_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:374px;
  width:81px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u787_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:200px;
  width:17px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u788_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:200px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u789_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:1082px;
  top:200px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u790_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:241px;
  width:17px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u791_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:241px;
  width:116px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u792_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:241px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u793_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:200px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u794_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:241px;
  width:347px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u795_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  white-space:nowrap;
}
#u796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:1104px;
  top:241px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:2px;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:284px;
  width:1059px;
  height:1px;
}
#u797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:103px;
  width:241px;
  height:25px;
}
#u798_input {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:103px;
  width:93px;
  height:25px;
}
#u799_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:54px;
  width:93px;
  height:25px;
}
#u800_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(102, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:200px;
  width:81px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u801_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:200px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u802_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:241px;
  width:87px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:1164px;
  top:200px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:241px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:103px;
  width:108px;
  height:22px;
}
#u806_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u806_input:disabled {
  color:grayText;
}
