body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1148px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:22px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u465_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:375px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:491px;
  width:325px;
  height:375px;
}
#u466_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:375px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:89px;
  width:325px;
  height:375px;
}
#u467_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:105px;
  width:353px;
  height:120px;
  line-height:20px;
}
#u468_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  word-wrap:break-word;
}
#u469_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:225px;
  width:20px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u469_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u470_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:103px;
  width:20px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u470_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u471_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:413px;
  width:20px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u471_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:280px;
  width:353px;
  height:100px;
  line-height:20px;
}
#u472_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  word-wrap:break-word;
}
#u473_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:278px;
  width:20px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u473_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u474_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:523px;
  width:20px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u474_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:493px;
  width:353px;
  height:100px;
  line-height:20px;
}
#u475_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  word-wrap:break-word;
}
#u476_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:491px;
  width:20px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u476_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:235px;
  width:0px;
  height:0px;
}
#u477_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:23px;
  height:8px;
}
#u477_seg1 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-126px;
  width:8px;
  height:130px;
}
#u477_seg2 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-126px;
  width:28px;
  height:8px;
}
#u477_seg3 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:-131px;
  width:18px;
  height:18px;
}
#u477_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:-72px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:423px;
  width:0px;
  height:0px;
}
#u478_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:37px;
  height:8px;
}
#u478_seg1 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:-139px;
  width:8px;
  height:143px;
}
#u478_seg2 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:-139px;
  width:14px;
  height:8px;
}
#u478_seg3 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:-144px;
  width:18px;
  height:18px;
}
#u478_text {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-64px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:533px;
  width:0px;
  height:0px;
}
#u479_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:189px;
  height:8px;
}
#u479_seg1 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:-36px;
  width:8px;
  height:40px;
}
#u479_seg2 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:-36px;
  width:14px;
  height:8px;
}
#u479_seg3 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:-41px;
  width:18px;
  height:18px;
}
#u479_text {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:375px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:89px;
  width:325px;
  height:375px;
}
#u480_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:630px;
  width:353px;
  height:20px;
  line-height:20px;
}
#u481_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  word-wrap:break-word;
}
#u482_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:628px;
  width:20px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u482_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u483_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:267px;
  width:20px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u483_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:277px;
  width:0px;
  height:0px;
}
#u484_seg0 {
  border-width:0px;
  position:absolute;
  left:-202px;
  top:-4px;
  width:202px;
  height:8px;
}
#u484_seg1 {
  border-width:0px;
  position:absolute;
  left:-202px;
  top:-4px;
  width:8px;
  height:370px;
}
#u484_seg2 {
  border-width:0px;
  position:absolute;
  left:-276px;
  top:358px;
  width:82px;
  height:8px;
}
#u484_seg3 {
  border-width:0px;
  position:absolute;
  left:-282px;
  top:353px;
  width:18px;
  height:18px;
}
#u484_text {
  border-width:0px;
  position:absolute;
  left:-248px;
  top:113px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
