body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1234px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 204, 1) 0%, rgba(255, 255, 204, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 204, 1) 0%, rgba(255, 255, 204, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 204, 1) 0%, rgba(255, 255, 204, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:165px;
  width:100px;
  height:60px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:165px;
  width:100px;
  height:60px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:275px;
  width:100px;
  height:60px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:63px;
  width:100px;
  height:60px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:275px;
  width:100px;
  height:60px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:165px;
  width:100px;
  height:60px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:195px;
  width:0px;
  height:0px;
}
#u6_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u6_seg1 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-9px;
  width:18px;
  height:18px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:195px;
  width:0px;
  height:0px;
}
#u7_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u7_seg1 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-106px;
  width:8px;
  height:110px;
}
#u7_seg2 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-106px;
  width:21px;
  height:8px;
}
#u7_seg3 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:-111px;
  width:18px;
  height:18px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:195px;
  width:0px;
  height:0px;
}
#u8_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:95px;
  height:8px;
}
#u8_seg1 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:-9px;
  width:18px;
  height:18px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 204, 1) 0%, rgba(255, 255, 204, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 204, 1) 0%, rgba(255, 255, 204, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 204, 1) 0%, rgba(255, 255, 204, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:506px;
  width:100px;
  height:60px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:506px;
  width:100px;
  height:60px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:375px;
  width:100px;
  height:60px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:375px;
  width:100px;
  height:60px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:375px;
  width:100px;
  height:60px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:405px;
  width:0px;
  height:0px;
}
#u14_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u14_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-9px;
  width:18px;
  height:18px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:375px;
  width:100px;
  height:60px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:405px;
  width:0px;
  height:0px;
}
#u16_seg0 {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:-4px;
  width:90px;
  height:8px;
}
#u16_seg1 {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:-9px;
  width:18px;
  height:18px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:626px;
  width:100px;
  height:60px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:626px;
  width:100px;
  height:60px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:626px;
  width:100px;
  height:60px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:566px;
  width:0px;
  height:0px;
}
#u20_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u20_seg1 {
  border-width:0px;
  position:absolute;
  left:-190px;
  top:40px;
  width:194px;
  height:8px;
}
#u20_seg2 {
  border-width:0px;
  position:absolute;
  left:-190px;
  top:40px;
  width:8px;
  height:20px;
}
#u20_seg3 {
  border-width:0px;
  position:absolute;
  left:-195px;
  top:48px;
  width:18px;
  height:18px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:-129px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:566px;
  width:0px;
  height:0px;
}
#u21_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u21_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:48px;
  width:18px;
  height:18px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:566px;
  width:0px;
  height:0px;
}
#u22_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u22_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:40px;
  width:185px;
  height:8px;
}
#u22_seg2 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:40px;
  width:8px;
  height:20px;
}
#u22_seg3 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:48px;
  width:18px;
  height:18px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:100px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:747px;
  width:231px;
  height:100px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:767px;
  width:100px;
  height:60px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:767px;
  width:100px;
  height:60px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:686px;
  width:0px;
  height:0px;
}
#u27_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u27_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:40px;
  width:102px;
  height:8px;
}
#u27_seg2 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:40px;
  width:8px;
  height:21px;
}
#u27_seg3 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:49px;
  width:18px;
  height:18px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:686px;
  width:0px;
  height:0px;
}
#u28_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u28_seg1 {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:40px;
  width:100px;
  height:8px;
}
#u28_seg2 {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:40px;
  width:8px;
  height:21px;
}
#u28_seg3 {
  border-width:0px;
  position:absolute;
  left:-101px;
  top:49px;
  width:18px;
  height:18px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:747px;
  width:100px;
  height:60px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:747px;
  width:100px;
  height:60px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:1010px;
  top:686px;
  width:0px;
  height:0px;
}
#u31_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u31_seg1 {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:40px;
  width:67px;
  height:8px;
}
#u31_seg2 {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:40px;
  width:8px;
  height:21px;
}
#u31_seg3 {
  border-width:0px;
  position:absolute;
  left:-68px;
  top:49px;
  width:18px;
  height:18px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:1010px;
  top:686px;
  width:0px;
  height:0px;
}
#u32_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u32_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:40px;
  width:68px;
  height:8px;
}
#u32_seg2 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:40px;
  width:8px;
  height:21px;
}
#u32_seg3 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:49px;
  width:18px;
  height:18px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:275px;
  width:100px;
  height:60px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:195px;
  width:0px;
  height:0px;
}
#u34_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u34_seg1 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-4px;
  width:8px;
  height:118px;
}
#u34_seg2 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:106px;
  width:21px;
  height:8px;
}
#u34_seg3 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:101px;
  width:18px;
  height:18px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:165px;
  width:100px;
  height:60px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:195px;
  width:0px;
  height:0px;
}
#u36_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  height:8px;
}
#u36_seg1 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:-9px;
  width:18px;
  height:18px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:275px;
  width:100px;
  height:60px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:305px;
  width:0px;
  height:0px;
}
#u38_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  height:8px;
}
#u38_seg1 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:-9px;
  width:18px;
  height:18px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:305px;
  width:0px;
  height:0px;
}
#u39_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:90px;
  height:8px;
}
#u39_seg1 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-9px;
  width:18px;
  height:18px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:305px;
  width:0px;
  height:0px;
}
#u40_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:81px;
  height:8px;
}
#u40_seg1 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-9px;
  width:18px;
  height:18px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:1010px;
  top:335px;
  width:0px;
  height:0px;
}
#u41_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u41_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:28px;
  width:18px;
  height:18px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:435px;
  width:0px;
  height:0px;
}
#u42_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:75px;
}
#u42_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:59px;
  width:18px;
  height:18px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:405px;
  width:0px;
  height:0px;
}
#u43_seg0 {
  border-width:0px;
  position:absolute;
  left:-77px;
  top:-4px;
  width:81px;
  height:8px;
}
#u43_seg1 {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:-9px;
  width:18px;
  height:18px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:1184px;
  top:435px;
  width:0px;
  height:0px;
}
#u44_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:105px;
}
#u44_seg1 {
  border-width:0px;
  position:absolute;
  left:-301px;
  top:97px;
  width:305px;
  height:8px;
}
#u44_seg2 {
  border-width:0px;
  position:absolute;
  left:-307px;
  top:92px;
  width:18px;
  height:18px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:-150px;
  top:93px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:536px;
  width:0px;
  height:0px;
}
#u45_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:641px;
  height:8px;
}
#u45_seg1 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:-9px;
  width:18px;
  height:18px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:268px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
